* {
  box-sizing: border-box;
  font-family: 'Montserrat';
}
body {
  font-size: 14px;
  width: 1200px;
}
h1{
  font-size: 45;
  font-weight: bold;
}
h2{
  font-size: 22;
  font-weight: bold;
}
h3{
  font-size: 16;
  font-weight: bold;
}
h5{
  font-size: 12;
  color: rgba(168, 168, 168, 1);
}
span, li{
  font-size: 14;
  color: rgba(89, 89, 89, 1);

}
ol li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hr-dashed{
  margin: 9px 0;
  margin-left: 5px;
  margin-right: 5px;
  height: 1px;
  border: none;
  border-top: 3px dashed #ddd;
  flex-grow: 1;
}
.bold{
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}
#subtitle{
  font-size: 20;
  color:rgba(0, 0, 0, 0.72);
}
#main {
  width: 100%;
  height: 1399px;
  background: rgba(245,246,249,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#avatar{
  width: 200px;
}
#left_side {
  width: 30%;
  height: 100%;
  background: rgba(76, 47, 139, 0.19);
  opacity: 1;
  position: absolute;
  padding: 35px;
}

#right_side {
  width: 70%;
  height: 100%;
  opacity: 1;
  position: absolute;
  left: 30%;
  padding: 35px;
}