* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}
h1{
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 15px;
}
h2{
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 0;
}
h3{
  font-size: 19px;
  font-weight: 700;
  padding-bottom:0;
}
h5{
  font-size: 15px;
  color: rgba(168, 168, 168, 1);
  padding-top:0;
  margin:0;
}
h5 a {
    text-decoration: none;
    color: inherit;
}
span, li{
  font-size: 17px;
  color: rgba(89, 89, 89, 1);

}
ul li{
  margin-bottom:10px;
}
.work_section ul span{
  font-style: italic;
}
#courses li div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:10px;

}
#courses li div a{
  text-decoration: none;
  color: rgba(89, 89, 89, 1);
  font-weight: bold;

}
.hr-dashed{
  margin: 9px 0;
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
  border: none;
  border-top: 3px dashed rgba(89, 89, 89, 1);
  flex-grow: 1;
}
.hr-dashed2{
  margin: 9px 0;
  margin-left: 15px;
  margin-right: 15px;
  height: 1px;
  border: none;
  border-top: 3px dashed #ddd;
  flex-grow: 1;
}
.v461644_345{
  margin-top: 5px;
}
ul li div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:5px;
  margin-right: 30px;
}
.bold{
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
}
#subtitle{
  font-size: 23px;
  color:rgba(0, 0, 0, 0.72);
}
#main {
  width: 1200px;
  height: 1399px;
  background: rgba(245,246,249,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
#avatar{
  width: 100%;
  background-color: rgba(76, 47, 139, 0.2);
  margin-bottom: 50px;
  height: 400px;
  display: flex;
  justify-content: center; /* Вирівнює по горизонталі по центру */
  align-items: center;

}
#avatar img{
  width: 260px;

}
#left_side {
  width: 370px;
  height: 100%;
  background: rgba(76, 47, 139, 0.19);
  opacity: 1;
  position: absolute;
  padding: 35px;
}

.side_title{
  margin-top:48px;
}

#right_side {
  width: 830px;
  height: 100%;
  opacity: 1;
  position: absolute;
  left: 370px;
  padding: 60px;
  padding-left: 90px;
  padding-right: 90px;
  background-color: white;
}
#projects{
  margin-top: 40px;
}
#work{
  margin-top: 40px;
}
#education{
  margin-top: 40px;
}
.work_section{
  margin-bottom: 30px;
}
.violet{
  font-weight: bold;
  font-size: 19px;
  color:rgba(153, 109, 245, 0.75);
}
#facult{
  margin-top: 5px;
  margin-bottom: 20px;
}
.icon{
  height: 22px;
  padding-top: 4px;
}
